<h4>
    Activez Votre compte
</h4>
<br>
Bonjour {{ firstname }} {{ lastname }}
<br>
Pour activer votre compte, veuillez cliquer sur le lien ci dessous ou copier/coller dans votre navigateur internet.
<br>
<a href="{{ url('Connexion') }}">
    <BUTTON type="submit">Validez votre email</BUTTON>
</a>.
<br>
---------------
<br>
Ceci est un mail automatique, Merci de ne pas y répondre.
<br>
Causi Conseils

